*{
    margin:0;
    padding:0;
    font-family: 'Roboto Mono', monospace;

}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}


main div h2{
    /*Changet text color attribute*/
    margin-left: 20px;
    font-size: x-large;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}


.thin {
    background-color: white;
    color: black;
    text-decoration: inherit;
    text-underline-position: below;
    font-weight: bold;
    border-bottom: 0.1px solid #ddd;
  }

.pdfDocument{
background-color: white;
color: black;
text-decoration: inherit;
text-underline-position: below;
font-weight: bold;
border-bottom: 0.1px solid #ddd;
}

main div a:hover{
    color: red;
}

main div h3{
    text-align: center;
}

