*{
    margin:0;
    padding:0;
    font-family: 'Roboto Mono', monospace;
}

main{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    height: 20vh;
    display: flex;
    flex-direction: column;
}

main div{
    /* background-image: url(images//Image_1115561000.png); */
    background-color: black;
    flex-grow: 1;
    /* background-size: cover; */
    background-repeat: no-repeat;

}
main div h2{
    color: white;
    font-size: 40px;
    text-align: center;
}

section{
    float: inherit;
    font-size: larger;
    text-align: center;
    justify-content: center;
}

#wip div{
    justify-content: space-evenly;
}
#wip div div{
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    /* border: 0.1px solid black; */
    padding: 5px 5px;
}

#wip div div img{
    margin: 10px;
}

/* footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    background-color: #111111;
    color: white;
}

footer nav a{
    padding: 0 10px;
    cursor: pointer;
}

footer nav a img{
    width: 30px;
} */