*{
    margin:0;
    padding:0;
    font-family: 'Roboto Mono', monospace;
}

.flex{
    display: flex;
    gap: var(--gap, 0.5rem);
}

main{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
}

main div{
    display: flex;
    /* background-image: url(images//Image_1115561000.png); */
    /* background-color: black; */
    /* background-size: cover; */
    flex-direction: column;
}
main div h2{
    color: black;
    /* font-size: 40px; */
    margin-top: 100px;
}

section{
    float: inherit;
    font-size: larger;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
}

#wip div{
    justify-content: space-evenly;
}
#wip div div{
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    /* border: 0.1px solid black; */
    padding: 5px 5px;
}

#wip div div img{
    margin: 10px;
}

body{
    animation: transitionIn 2s;
    overflow-x: hidden;
    z-index: 1000;
}
   
@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10px);

    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}