*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

main h1{
    margin-left: 10px;
}

main header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: white;
    color: black;
}

main header nav{
    display: flex;
    flex-direction: row;

}

main header nav a{
    display: flex;
    align-items: center;
    padding: 20px 10px;
    transition: all 0.2s ease;
    text-decoration: none!important;
    color:inherit;
}

main header nav a:hover {
    background-color: #444444;
    cursor: pointer;
    font-size: 20px;
    padding: 4px 10px;
}

main div h2{
    /*Changet text color attribute*/
    margin-left: 50px;
    font-size: x-large;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}


.thin {
    background-color: white;
    color: black;
    text-decoration: inherit;
    text-underline-position: below;
    font-weight: bold;
    border-bottom: 0.1px solid #ddd;
  }

  .pdfDocument{
    background-color: white;
    color: black;
    text-decoration: inherit;
    text-underline-position: below;
    font-weight: bold;
    border-bottom: 0.1px solid #ddd;
  }


main div a:hover{
    color: red;
}

main div h3{
    text-align: center;
}

main div img{
    border: 1px solid black;
}
